Lingyan_Li_Lab4/IncidentsServiceWebClient/Connected Services/IncidentsServiceReference/IncidentsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IncidentsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1423/IncidentsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1423/IncidentsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1423/IncidentsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IncidentsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIncidentsService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetOpenTechIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTechIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetOpenTechIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTechIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetCustomerIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentsService_GetCustomerIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIncidentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIncidentsService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentsService/GetCustomers" message="tns:IIncidentsService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentsService/GetCustomersResponse" message="tns:IIncidentsService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpenTechIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentsService/GetOpenTechIncidents" message="tns:IIncidentsService_GetOpenTechIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentsService/GetOpenTechIncidentsResponse" message="tns:IIncidentsService_GetOpenTechIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentsService/GetCustomerIncidents" message="tns:IIncidentsService_GetCustomerIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentsService/GetCustomerIncidentsResponse" message="tns:IIncidentsService_GetCustomerIncidents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIncidentsService" type="tns:IIncidentsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IIncidentsService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpenTechIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentsService/GetOpenTechIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentsService/GetCustomerIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IncidentsService">
    <wsdl:port name="BasicHttpBinding_IIncidentsService" binding="tns:BasicHttpBinding_IIncidentsService">
      <soap:address location="http://localhost:1423/IncidentsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>